.sectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, white, rgb(231, 231, 231));
}
.sectionTitle, .sectionSubtitle{
    text-align: center;
    max-width: 700px;    
}
.sectionTitle{
    font-family: var(--font-barlow);
    font-size: 3rem;
    font-weight: 700;
}
.sectionSubtitle{
    color: rgb(55, 63, 73);
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-barlow);
}
.sectionContainer button{
    border-radius: 2rem;
    /* font-size: 1.15rem; */
    /* word-spacing: 0.15rem; */
    letter-spacing: 0.05rem;
    color: #fff;
    font-weight: 700;
    border-style: none;
    padding: 0.8rem 1.2rem;
    background-color: #ff410d;
}
.sectionContainer button:hover{
    color: #fff;
    background-color: #f51767;
    cursor: pointer;
}
@media (max-width: 767px) {
    .sectionTitle, .sectionSubtitle{
        max-width: 90%;
    }
}
