/* button{
    border-radius: 2rem;
    font-size: 1.3rem;
    color: #fff;
    border-style: none;
    padding: 0.8rem 1.2rem;
    background-color: #f51767;
}
button:hover{
    background-color: #bb2058;
    cursor: pointer;
} */