.section{
    background-color: #4c0ffb;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}
.title{
    font-size: 2rem;
    margin: 1rem 0;
    color: white;
}
.subtitle{
    margin-bottom: 1rem;
    color: white;
}