.services-section{
    width: 100vw;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #4c0ffb;
}
.services-section-title{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}