.who-is-for-section{
    width: 100vw;
    padding: 3rem;
}
.who-is-for-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.cards-container{
    display: 'flex';
}
.comparing-card-container{
    max-width: 460px;
    border: 2px solid #f51767;
    padding: 1.6rem;
    border-radius: 16px;
}
.comparing-card-title{
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
}
.comparing-card-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.comparing-card-is-for-title{
    color: #f51767;;
}
.comparing-card-container li{
    display: flex;
}
.check-icon-container{
    margin-right: 0.6rem;
}