.sectionContainer{
    width: 100vw;
    padding: 3rem;
}
.sectionTitle{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.cardsContainer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}
.comparingCardContainer{
    max-width: 460px;
    border: 2px solid #ff410d;
    padding: 1.6rem;
    border-radius: 16px;
}
.comparingCardTitle{
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
}
.comparingCardContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.comparingCardIsForTitle{
    color: #ff410d;
}
.comparingCardContainer li{
    display: flex;
}
.checkIconContainer{
    margin-right: 0.6rem;
}