nav{
    width: 100vw;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #ccc ;
}
nav ul {
    display: flex;
    gap: 1.7rem;
    list-style: none;
}
nav ul li {
    font-size: 0.85rem;
}

button{
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 'bold';
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-width: 1px;
    border-color: #f51767;
    background-color: #fff;
    color: #f51767;
}

button:hover{
    color: #fff;
    background-color: #f51767;
    cursor: pointer;
}

.open-close-nav-button{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;        
}


@media (max-width: 767px) {
    
}
@media (min-width: 767px) {
    
}