.card-container{
    width: 350px;
    padding: 2rem 1.5rem;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
}
.icon-container{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #ccc;
    display: grid;
    place-items: center;
}
.card-title{
    font-weight: 600;
}
.card-text{

}