.benefitBlock{
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #ff410d;
}
.benefitIconContainer{
    display: flex;
    justify-content: center;
}
.titleAndTextContainer{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.benefitBlockTitle{
    color: #ff410d;
}
.benefitBlockDescription{

}